.head{
    text-decoration:underline;
}
.image{
    height: 300px;
    width: 400px;
}
.para{
   
    border: 2px solid black;
    padding: 15px;
    background-color: beige;
   
}
.font{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.body{
    background-color: antiquewhite;
}
#head1{
    color: rgb(255, 166, 0);
    
}
#head2{
    color: rgb(6, 144, 250);
}
#head3{
    color: rgb(118, 148, 19);
}